.table-style{
    vertical-align: baseline;
    width:100%;
    border-collapse: separate;
    border-spacing: 10px;
    font-family: sans-serif;
}

span{
	text-align: justify;
}

td{
	padding:2px;
	padding-left: 10px;
}

th{
	background: rgb(226,226,226);
	color: #585858;
	text-transform: uppercase;
	font-weight: 800;
    font-size: 10px;
    padding: 2px;
    letter-spacing: 0.05em;
}

.diff-line-equal{
	color: #000;
	background: rgb(255,255,255);
}

.diff-line-addition{
	color: #000;
	background: rgb(224, 252, 208);
}

.diff-line-removal{
	color: #000;
	background: rgb(252, 216, 217);
}

.diff-text-addition{
	background: rgb(153, 255, 153);
	padding-top:2px;
	padding-bottom:2px;
}

.diff-text-removal{
	background: rgb(255, 136, 136);
	padding-top:2px;
	padding-bottom:2px;
}

.diff-text-equal{
	background: rgb(255,255,255);
	padding-top:2px;
	padding-bottom:2px;
}

.space_char{
display: inline;
}